.mainchat
  .main-header
    .main-header__top
      .main-header__top__title
        = @group.name
      .main-header__top__members
        Member:
        - @group.users.each do |user|
          = user.name
    .main-header__edit
      = link_to edit_group_path(@group),class: "edit" do
        %p.edit
          Edit
        
  .main-content
    =render @messages
  
  .main-footer
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'main-footer__form', placeholder: 'type a message'
        = f.submit 'Send', class: 'send-top'
        = f.label :image, class: 'icons' do
          = icon('fa','image')
          = f.file_field :image, class: 'file'